
.container {
    text-align: center;
    margin-top: 1%;
}

.titulo {
    font-size: xx-large;
    text-align: center;
}

.texto {
    padding-right: 20%;
    margin-bottom: 5px;
    font-size: large;
}

.boton {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: larger;
    width: 25%;
}

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
th {
    background-color: #f2f2f2;
}

